# Dependencies
node_modules/
.pnpm-store/

# Build and Output directories
dist/
**/dist/
tmp/
out-tsc/
*.tsbuildinfo
.expo/
.expo-shared/
.vite/
**/.vite-temp/

# Vercel & Deployment
.vercel/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs and Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*.sublime-workspace
.project
.classpath
.settings/

# OS / System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Replit & Artifacts
.cache/
.local/
.replit-artifact/
/connect.lock
/coverage
